<div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 3rem; margin: 4rem">
    <a
        *ngFor='let user of users | async'
        style="border: 3px solid #f1cb30; padding: 2rem; display: flex; gap: 3rem"
        [routerLink]="['/places']"
    >
        <div>
            <img
                [src]="'http://localhost:5000/' + user.imageUrl"
                alt="user"
                height="120"
                style="border-radius: 50%"
            />
        </div>
        <div>
            <div style="color: #f1cb30; font-size: 2rem">{{user.name}}</div>
            <div style="color: white">{{user.places.length}}</div>
        </div>
    </a>
</div>
