<app-auth-layout heading="Welcome" mark="!">
    <form [formGroup]="loginForm" (ngSubmit)="submitHandler()">
        <div class="input-container">
            <label>Email:</label>
            <input nz-input placeholder="email" formControlName="email" />
        </div>

        <div class="input-container">
            <label>Password:</label>
            <input nz-input placeholder="**********" formControlName="password" [type]="passwordInputType" />
            <i
                nz-icon
                nzTheme="outline"
                class="suffix-icon"
                [nzType]="passwordInputType === 'text' ? 'eye-invisible' : 'eye'"
                (click)="changePasswordInputType(passwordInputType === 'text' ? 'password' : 'text')"
            ></i>
        </div>

        <button class="btn" nz-button nzType="primary" type="submit" [disabled]="loginForm.invalid">
            <!--        {{ !(isLoadingButton$ | async) ? 'Влез' : 'Влизане...' }}-->
            Sign In
        </button>
    </form>
</app-auth-layout>
