<app-auth-layout heading="Register" mark="">
    <form [formGroup]="registerForm" (ngSubmit)="submitHandler()">
        <div class="input-container">
            <label>Email:</label>
            <input nz-input placeholder="email" formControlName="email" />

            <div *ngIf="emailIsValid" style="color: orangered">Please enter a valid email.</div>
        </div>

        <div class="input-container">
            <label>Password:</label>
            <input nz-input placeholder="**********" formControlName="password" [type]="passwordInputType" />
            <i
                nz-icon
                nzTheme="outline"
                class="suffix-icon"
                [nzType]="passwordInputType === 'text' ? 'eye-invisible' : 'eye'"
                (click)="changePasswordInputType(passwordInputType === 'text' ? 'password' : 'text')"
            ></i>

            <div *ngIf="passwordIsValid" style="color: orangered">Please enter a valid password.</div>
        </div>

        <div class="input-container">
            <label>Confirm Password:</label>
            <input nz-input placeholder="**********" formControlName="confirmPassword" [type]="passwordInputType" />
            <i
                nz-icon
                nzTheme="outline"
                class="suffix-icon"
                [nzType]="passwordInputType === 'text' ? 'eye-invisible' : 'eye'"
                (click)="changePasswordInputType(passwordInputType === 'text' ? 'password' : 'text')"
            ></i>

            <div *ngIf="isMatch" style="color: orangered">Passwords does not match.</div>
        </div>

        <button class="btn" nz-button nzType="primary" type="submit" [disabled]="registerForm.invalid || isMatch">
            Sign up
        </button>
    </form>
</app-auth-layout>
