.my-google-map-container {
    height: 100%; /* Adjust the height as needed */
    max-width: 100%; /* Ensure the map doesn't exceed the modal's width */
}

.map-container {
    height: 20rem !important;
}

.place {
    border: 3px solid #2bacff;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1rem;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
