.my-google-map-container {
    height: 100%; /* Adjust the height as needed */
    max-width: 100%; /* Ensure the map doesn't exceed the modal's width */
}

.map-container {
    height: 20rem !important;
}
