<h1 *ngIf="[].length === 0" style="color: #2bacff; text-align: center; margin-top: 14rem">
    There are no created place yet.
</h1>
<div
    style="display: flex; flex-direction: column; align-items: center"
    *ngIf="[].length === 0 && (currentUserId | async) === userId"
>
    <h2 *ngIf="[].length === 0 && (currentUserId | async) === userId" style="color: #2bacff; text-align: center">
        Maybe create one.
    </h2>
    <button nz-button nzType="primary" [routerLink]="['/places/create']">Share place</button>
</div>

<div style="display: grid; gap: 2rem; margin: 2rem; justify-items: center" [ngStyle]="getGridStyle()">
    <nz-spin *ngIf="placesLoading | async" class="spinner-container" nzSimple [nzSize]="'large'"></nz-spin>
    <div
        *ngFor="let place of []"
        style="border: 3px solid #2bacff; grid-template-columns: repeat(2, 1fr); border-radius: 1rem; max-width: 60rem"
    >
        <div style="height: 35rem">
            <img style="height: 100%; width: 100%" [src]="'http://localhost:5000/' + place.imageUrl" alt="place" />
        </div>

        <div style="padding: 2rem">
            <div>
                <h1 style="margin: 0; color: #2bacff">{{ place.title }}</h1>
                <h2 style="color: white">{{ place.address }}</h2>
                <div style="color: white">{{ place.description }}</div>
            </div>
            <div style="display: flex; justify-content: center; gap: 2rem; margin-top: 2rem">
                <button nz-button nzType="primary" (click)="openModalHandler(place.id)">VIEW ON MAP</button>
                <ng-container *ngIf="(currentUserId | async) === userId">
                    <button nz-button nzType="primary" (click)="openEditModalHandler(place.id)">EDIT</button>
                    <button nz-button nzType="primary" (click)="showDeleteHandler(place.id)">DELETE</button>
                </ng-container>
            </div>
        </div>

        <nz-modal
            nzTitle="View Place on Map"
            [nzFooter]="null"
            [(nzVisible)]="isModalOpen"
            (nzOnCancel)="closeModalHandler()"
        >
            <ng-container *nzModalContent>
                <div class="my-google-map">
                    <google-map
                        [options]="{
                            center: { lat: placeDetails?.location?.lat, lng: placeDetails?.location?.lng },
                            zoom: 14
                        }"
                        width="100%"
                        height="400"
                    >
                        <map-marker [position]="placeDetails?.location"></map-marker>
                    </google-map>
                </div>
                <button nz-button nzType="default" type="button" (click)="closeModalHandler()">Затвори</button>
            </ng-container>
        </nz-modal>

        <nz-modal
            nzTitle="Edit place"
            [nzFooter]="null"
            [(nzVisible)]="isEditModalOpen"
            (nzOnCancel)="closeEditModalHandler()"
        >
            <ng-container *nzModalContent>
                <form [formGroup]="form" (ngSubmit)="submitHandler()">
                    <div class="input-container">
                        <label>Title:</label>
                        <input nz-input placeholder="Title" formControlName="title" />

                        <div *ngIf="titleIsValid" style="color: orangered">Please enter a title.</div>
                    </div>

                    <div class="input-container">
                        <label>Description:</label>
                        <textarea rows="4" nz-input placeholder="Description" formControlName="description"></textarea>

                        <div *ngIf="descriptionIsValid" style="color: orangered">
                            Description must be at least 6 characters long.
                        </div>
                    </div>
                    <button nz-button nzType="default" type="button" (click)="closeEditModalHandler()">Close</button>
                    <button nz-button nzType="primary" type="submit" [disabled]="form.invalid">Edit Place</button>
                </form>
            </ng-container>
        </nz-modal>
    </div>
</div>
