<h1
    *ngIf="(places | async).length === 0 && (placesLoading | async) === false"
    style="color: #2bacff; text-align: center; margin-top: 14rem"
>
    There are no created places yet.
</h1>
<div
    style="display: flex; flex-direction: column; align-items: center"
    *ngIf="(places | async).length === 0 && (currentUserId | async) === userId && (placesLoading | async) === false"
>
    <h2 style="color: #2bacff; text-align: center">Maybe create one.</h2>
    <button nz-button nzType="primary" [routerLink]="['/places/create']">Share place</button>
</div>
<nz-spin *ngIf="placesLoading | async" class="spinner-container" nzSimple [nzSize]="'large'"></nz-spin>

<div *ngIf="(placesLoading | async) === false" style="display: grid; gap: 2rem; margin: 2rem; justify-items: center">
    <div *ngFor="let place of places | async" class="place">
        <div>
            <div style="height: 35rem">
                <img
                    style="height: 100%; width: 100%; border-top-left-radius: 1rem; border-top-right-radius: 1rem"
                    [src]="'http://localhost:5000/' + place.imageUrl"
                    alt="place"
                />
            </div>
            <div style="padding: 2rem">
                <h1 style="margin: 0; color: #2bacff">{{ place.title }}</h1>
                <h2 style="color: white">{{ place.address }}</h2>
                <div style="color: white">{{ place.description }}</div>
            </div>
        </div>

        <div style="display: flex; justify-content: center; gap: 2rem; margin-top: 2rem; padding-bottom: 2rem">
            <button nz-button nzType="primary" (click)="openModalHandler({ type: modalTypes.MAP, placeId: place.id })">
                VIEW ON MAP
            </button>
            <ng-container *ngIf="(currentUserId | async) === userId">
                <button
                    nz-button
                    nzType="primary"
                    (click)="openModalHandler({ type: modalTypes.EDIT, placeId: place.id })"
                >
                    EDIT
                </button>
                <button nz-button nzType="primary" (click)="showDeleteHandler(place.id)">DELETE</button>
            </ng-container>
        </div>
    </div>
</div>

<app-map-modal [modal]="isMapModalOpen" [placeDetails]="currentPlaceDetails$ | async"></app-map-modal>
<app-edit-modal [modal]="isEditModalOpen" [placeDetails]="currentPlaceDetails$ | async"></app-edit-modal>
