<nz-modal nzTitle="View Place on Map" [nzFooter]="null" [nzVisible]="modal.isOpen" (nzOnCancel)="closeModalHandler()">
    <ng-container *nzModalContent>
        <div class="my-google-map">
            <google-map
                [options]="{
                    center: {
                        lat: placeDetails?.location?.lat || 0,
                        lng: placeDetails?.location?.lng || 0
                    },
                    zoom: 14
                }"
                width="100%"
                height="400"
            >
                <map-marker [position]="placeDetails?.location"></map-marker>
            </google-map>
        </div>
        <button nz-button nzType="default" type="button" (click)="closeModalHandler()">Затвори</button>
    </ng-container>
</nz-modal>
