form {
    max-width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-container {
        margin-bottom: 2rem;
        position: relative;
        width: 100%;

        label {
            color: white;
            margin-bottom: .6rem;
            display: inline-block;
        }
    }
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 8rem;
    margin: 1rem 0;

    img {
        height: 100%;
    }
}
