/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

.container-primary {
    min-height: 100vh;
    background-image: linear-gradient(
            to right bottom,
            rgb(12, 38, 89),
            rgba(11, 21, 40, 0.8)),
    url('./assets/nat-6.jpg');
    background-size: cover;
    background-position: top;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}
