.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.header__logo {
    position: relative;
    overflow: hidden;
    line-height: 2.4rem;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.08);
    }

    & a {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    & img {
        width: 3.2rem;
        vertical-align: middle;
        display: block;
    }

    & h1 {
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: inline-block;
        color: #f8fbff;
        font-weight: 600;
        vertical-align: middle;
        margin: 0;

        & span {
            color: #f1cb30;
            font-weight: normal;
            margin-left: 2px;
        }
    }
}

.main-nav {
    display: flex;
    list-style: none;
    gap: 6rem;
    margin: 0;
    padding: 0;
    align-items: center;

    &__item > a {
        position: relative;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;

        &:hover,
        &.active {
            color: #f1cb30;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #f1cb30;
                bottom: -4px;
                transform: scaleX(0);
                transform-origin: left center;
                transition: transform 0.3s;
            }
        }

        &.active::before {
            transform: scaleX(1);
        }
    }

    &__item--logout {
        border: 2px solid #f1cb30;
        padding: .8rem;
        cursor: pointer;

        a {
            color: #f1cb30;
        }

        &:hover {
            background-color: #f1cb30;

            a {
                color: #0B172A;
            }
        }
    }
}
