<div class="container-primary">
    <header class="header">
        <div class="header__logo">
            <a routerLink="/">
                <h1>Place<span>Scribe</span></h1>
            </a>
        </div>

        <nav>
            <ul class="main-nav">
                <li class="main-nav__item">
                    <a routerLink="/auth/users" routerLinkActive="active">All Users</a>
                </li>
                <li class="main-nav__item">
                    <a routerLink="/auth/login" routerLinkActive="active">Login</a>
                </li>
                <li class="main-nav__item">
                    <a routerLink="/auth/register" routerLinkActive="active">Register</a>
                </li>
            </ul>
        </nav>
    </header>

    <router-outlet></router-outlet>
</div>
