<div class="container-primary">
    <header class="header">
        <div class="header__logo">
            <a routerLink="">
<!--                <img class="img" ngSrc='../../../assets/icons/g14.svg' alt="logo" />-->
                <h1>Place<span>Scribe</span></h1>
            </a>
        </div>

        <nav>
            <ul class="main-nav">
                <li class="main-nav__item">
                    <a routerLink="">За нас</a>
                </li>
                <li class="main-nav__item">
                    <a routerLink="">Контакти</a>
                </li>
                <li class="main-nav__item">
                    <a routerLink="">Цени</a>
                </li>
            </ul>
        </nav>

        <div class="button-group">
            <button class="button-group__button button-group__button--register" nz-button routerLink="/auth/register">
                Създай акаунт
            </button>
            <button
                class="button-group__button button-group__button--login"
                nz-button
                nzType="primary"
                routerLink="/auth/login"
            >
                Влез
            </button>
        </div>
    </header>

    <router-outlet></router-outlet>
</div>
